@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("./fonts/JetBrainsMono-Bold.woff2");
}

.App {
  background-image: linear-gradient(
      to right,
      #06193cdb,
      #122f64db,
      #00588fdb,
      #0081b4db
    ),
    url("./images/code\ background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrainsMono-Bold", monospace;
}
